<div class = "loader" *ngIf = "isLoading"></div>
<div class="container" *ngIf = "!isLoading">
    <h3 class = "inline-heading">Chefs</h3>
        <button class = "btn btn-success spaced-button" (click) = "openSalesmanUpload()">Add a new Chef</button> 
    <hr>

    <ul class="list-group list-group-flush">
        <li class="list-group-item" style ="height:50px;" *ngFor = "let chef of chefsData; let i = index;">{{chef.chefName}} , manages {{chef.manages}}
            <button class = "btn btn-danger" style = "float:right;" (click) = "deleteChef(i)">Delete</button>
        </li>
      </ul>
</div>

