<nav class = "navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
                <img src = "../../assets/logo.jpg" class = "navbar-brand">
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive = "active"><a routerLink = "/categories">Categories</a></li>
                <li routerLinkActive = "active"><a routerLink = "/dailyReport">Today's Report</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive = "active"><a routerLink = "/manage">Manage</a></li>
                <li routerLinkActive = "active"><a routerLink = "/notifications">Notifications ({{totalNotifications}})</a></li>
                <li *ngIf = "loggedIn"><a routerLink = "/" (click) = "onLogout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
