<div class="container">
    <div class="jumbotron">
        <div style = "text-align: center;">
            <h2>Add Items here!</h2>
            <p>for {{parentCategoryData.categoryName}}</p>
            <div *ngIf = "isSubmitted" class = "loader"></div>
        </div>
        <div *ngIf = "!isSubmitted">
            <div class = "card-body">
              <form [formGroup] = "itemForm" (ngSubmit) = "onSubmit(itemForm.value)">
                  <div class="text-center">
                      <img [src] = "imgSrc" class = "img-holder">
                  </div>
                  <div class = "form-group">
                      <label>Select a file to upload</label>
                      <input type = "file"
                      class = "form-control"
                      formControlName = "imageUrl"
                      accept = "image/*"
                      (change) = "showPreview($event)">
                  </div>
                  <div class = "form-group">
                    <input type = "text"
                    class = "form-control"
                    formControlName = "itemName"
                    placeholder = "Item Name">
                </div>
                <div class = "form-group" *ngIf = "isParentCategoryForDistributor">
                    <input type = "text"
                    class = "form-control"
                    formControlName = "distributorItemName"
                    placeholder = "Item Name for distributor">
                </div>
                <div class="form-group" *ngIf = "parentCategoryData.categoryName === 'CAKES & PASTRIES'">
                    <label>Flavour in which this cake can be prepared</label>
                    <p>If this cake can be prepared in all flavours , please select the ALL Flavours option in the dropdown.</p>
                        <ng-select [items] = "flavours" bindLabel = "flavourName" bindValue = "flavourName" [closeOnSelect] = "true"
                        formControlName = "cakeFlavour"
                        (change) = "flavourChanged($event)"
                        ngDefaultControl>
                        </ng-select>
                </div>
                <div class="form-group" *ngIf = "parentCategoryData.categoryName === 'CAKES & PASTRIES'">
                    <label>Design for this cake.</label>
                    <ng-select [items] = "designCategories" bindLabel = "designName" bindValue = "designName" [closeOnSelect] = "true"
                        formControlName = "designCategory"
                        (change) = "designChanged($event)"
                        ngDefaultControl>
                    </ng-select>
                </div>
                <div class = "form-group" *ngIf = "parentCategoryData.categoryName !== 'CAKES & PASTRIES'">
                    <input type = "number"
                    class = "form-control"
                    formControlName = "shopPrice"
                    placeholder = "Shop Price">
                </div>
                <div class = "form-group" *ngIf = "parentCategoryData.categoryName !== 'CAKES & PASTRIES'">
                    <input type = "number"
                    class = "form-control"
                    formControlName = "customerPrice"
                    placeholder = "MRP">
                </div>
                
                    <div class = "form-group" *ngIf = "isParentCategoryForDistributor">
                        <input type = "number"
                        class = "form-control"
                        formControlName = "distributorPrice"
                        placeholder = "Distributor Price">
                    </div>
                
                <div class="form-group">
                    <p>
                    <label>
                        <input type="radio" value="1" formControlName="directVariety" (change) = "changeItemType($event)">
                          <span>DIRECT VARIETY ITEM</span>
                      </label>
                      </p>
                        <p>
                      <label>
                        <input type="radio" value="0" formControlName="directVariety" (change) = "changeItemType($event)">
                          <span>SUBCATEGORY ITEM</span>
                      </label>
                      </p>
                </div>
                <div class="form-group" *ngIf = "showSubcategoryDropdown">
                    <label for = "SubcategoryName">Please select the type</label>
                    <ng-select [items] = "availableSubcategories" bindLabel = "subcategoryName" bindValue = "subcategoryName" [closeOnSelect] = "true"
                    formControlName = "subcategoryName"
                    (change) = "subcategoryChanged($event)"
                    ngDefaultControl>
                    </ng-select>
                </div>
                <div class = "form-group">
                    <input type = "number"
                    class = "form-control"
                    formControlName = "offer"
                    placeholder = "Offer %">
                </div>
                <div class="form-group" *ngIf = "parentCategoryData.categoryName === 'CAKES & PASTRIES'">
                    <label>Minimum Pounds For Cake</label>
                    <br>
                    <label>If this is left blank , user/shopkeeper can select any size while placing the order.</label>
                    <p>By default : minimum pound of cake = 1 pound , Increase the number below if you want.</p>
                    <input type = "number" placeholder="minimumPounds" formControlName = "minPounds">
                </div>
                <div class = "form-group">
                    <button type = "submit" class = "btn btn-success btn-lg" [disabled] = "itemForm.invalid">Add</button>
                </div>
              </form>  
            </div>
        </div>

    </div>
</div>
