<div class="container" style = "text-align:center;">
    <div class = "jumbotron">
        <h3>Add Your Design Category Here!!</h3>
        

        <form [formGroup] = "designCategoryForm" (ngSubmit) = "onSubmit()"> 
            <div class="form-group">
    
                    <label for = "designName">Design Name</label>
                    <input type = "text"
                    id="designName"
                    class = "form-control"
                    placeholder="Select Design"
                    formControlName="designName">
            </div>
            <div class="form-group">
    
                <label for = "ShopPrice">Shop Price</label>
                <input type = "number"
                id="shopPrice"
                class = "form-control"
                formControlName="shopPrice">
            </div>
            <div class="form-group">
    
                <label for = "customerPrice">Customer Price</label>
                <input type = "number"
                id="customerPrice"
                class = "form-control"
                formControlName="customerPrice">
            </div>

    
            <button type = "submit" class = "btn btn-success btn-bold-text" *ngIf = "!isInsertingDesign && !isEdit" [disabled] = "designCategoryForm.pending|| designCategoryForm.invalid">Add Design</button>
            <button type = "submit" class = "btn btn-success btn-bold-text" *ngIf = "!isInsertingDesign && isEdit" [disabled] = "designCategoryForm.pending|| designCategoryForm.invalid">Edit Design</button>
            <button *ngIf = "isInsertingDesign" class = "btn btn-success">
                <div class="loader loader-button">
    
                </div>
            </button>
        </form>
    </div>
    
</div>
