<div class = "loader" *ngIf = "isLoading"></div>
<div class="container" *ngIf = "!isLoading">
    <h3 class = "inline-heading">Shops</h3>
        <button class = "btn btn-success spaced-button" (click) = "openShopUpload()">Add a new Shop</button> 
    <hr>

    <ul class="list-group list-group-flush">
        <li class="list-group-item" style ="height:50px;" *ngFor = "let shop of shopsData; let i = index;">{{shop.shopName | uppercase}} , {{shop.areaName | uppercase}}
            <button class = "btn btn-danger" style = "float:right;" (click) = "deleteShop(i)">Delete</button>
        </li>
      </ul>
</div>
