<div class="jumbotron">
    
        <h3>Shop : {{notificationData.shopAddress}}</h3>
        <h4>Retailer Name : {{notificationData.retailerName}}</h4>
    
    
        <button class = "btn btn-success spaced" (click) = "approveNotification()">Approve</button>

        <button *ngIf = "!isDeleting" class = "btn btn-danger spaced" (click) = "deleteNotification()">Reject</button>
        <button *ngIf = "isDeleting" class = "btn btn-danger spaced">
            <div class="loader loader-button">

            </div>
        </button>
    
</div>
