<div class="jumbotron" *ngIf = "notificationData.distributorship == null">
    
        <div>
            <h3>Shop : {{notificationData.shopAddress}}</h3>
            <h4>Retailer Name : {{notificationData.retailerName}}</h4>
            <h4>Ph.No. : {{notificationData.mobileNumber}}</h4>
        </div>
        
    
    
        <button *ngIf = "!isApproving" class = "btn btn-success spaced" (click) = "approveNotification('retailer')">Approve</button>
        <button *ngIf = "isApproving" class = "btn btn-success spaced">
            <div class="loader loader-button">
                
            </div>
        </button>
        <button *ngIf = "!isDeleting" class = "btn btn-danger spaced" (click) = "deleteNotification()">Reject</button>
        <button *ngIf = "isDeleting" class = "btn btn-danger spaced">
            <div class="loader loader-button">

            </div>
        </button>
    
</div>

<div class="jumbotron" *ngIf = "notificationData.distributorship != null">
    
    <div>
        <h3>Distributorship : {{notificationData.distributorship}}</h3>
        <h4>Retailer Name : {{notificationData.distributorId}}</h4>
        <h4>Ph.No. : {{notificationData.mobileNumber}}</h4>
    </div>
    


    <button *ngIf = "!isApproving" class = "btn btn-success spaced" (click) = "approveNotification('distributor')">Approve</button>
    <button *ngIf = "isApproving" class = "btn btn-success spaced">
        <div class="loader loader-button">
            
        </div>
    </button>
    <button *ngIf = "!isDeleting" class = "btn btn-danger spaced" (click) = "deleteNotification()">Reject</button>
    <button *ngIf = "isDeleting" class = "btn btn-danger spaced">
        <div class="loader loader-button">

        </div>
    </button>

</div>
