<div class="container">
    <h3 class = "inline-heading">Shops</h3>
        <button class = "btn btn-success spaced-button">Add a new Shop</button> 
    <hr>
    <h3>Retailers</h3>
    <p>New retailers will be added through the retailers app. Please see the <a routerLink = "/notifications">notifications</a>  to add new retailers into the system.</p>
    <hr>
    <h3 class = "inline-heading">Salesmen</h3>
    <button class = "btn btn-success spaced-button">Add a new salesman</button>
    <hr>
</div>
