<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs">
                <li role = "presentation" class = "active"><a href = "#">Shops</a></li>
                <li role = "presentation"><a href = "#">Retailers</a></li>
                <li role = "presentation"><a href = "#">Salesmen</a></li>
            </ul>
        </div>
    </div>
</div>




<!-- <div class="container">
    <h3 class = "inline-heading">Shops</h3>
        <button class = "btn btn-success spaced-button" (click) = "openShopUpload()">Add a new Shop</button> 
    <hr>

    <ul class="list-group list-group-flush">
        <li class="list-group-item" style ="height:50px;" *ngFor = "let shop of shops">{{shop.shopName}} , {{shop.areaName}}
            <button class = "btn btn-danger" style = "float:right;">Delete</button>
        </li>
      </ul>

    <h3>Retailers</h3>
    <p>New retailers will be added through the retailers app. Please see the <a routerLink = "/notifications">notifications</a>  to add new retailers into the system.</p>
    <hr>
    <h3 class = "inline-heading">Salesmen</h3>
    <button class = "btn btn-success spaced-button">Add a new salesman</button>
    <hr>
</div> -->
