<div class="container" *ngIf = "data.categoryName!=null">
    <h4 mat-dialog-title>Are you sure you want to delete {{data.categoryName}} ?</h4>
<mat-dialog-content>Deleting the category removes all items / subcategories within this category
    <br>
    <label>Enter Password For Deletion</label>
    <br>
    <input type = "text" placeholder="enter passkey to delete" (input) = "onTypingPassword($event)">
</mat-dialog-content>
</div>

<div class="container" *ngIf = "data.retailerName!=null">
    <h4 mat-dialog-title>Are you sure you want to delete {{data.retailerName}} ?</h4>
<mat-dialog-content>{{data.retailerName}} will not be able to use the retailer app after this.
    <br>
    <label>Enter Password For Deletion</label>
    <br>
    <input type = "text" placeholder="enter passkey to delete" (input) = "onTypingPassword($event)">
</mat-dialog-content>

</div>

<mat-dialog-actions>
    <div style = "text-align: right;">
        <button class = "btn btn-primary" mat-dialog-close mat-dialog-close = "no" style = "margin-right: 10px;"> NO </button>
        <button class = "btn btn-danger" mat-dialog-close mat-dialog-close = "yes" [disabled] = "!correctPassword"> YES </button>
    </div>
</mat-dialog-actions>
