<div class="card bottom-spaced-box">
    <a>
    <img src = {{item.imageUrl}} class = "card-img-top img img-responsive" *ngIf = "!isEditMode">
    <img [src] = "imgEditSrc" class = "card-img-top img img-responsive" *ngIf = "isEditMode">
    <div *ngIf = "isEditMode && !isBeingUpdated">
        <div class = "form-group">
            <label>Select a file to change the image</label>
            <input type = "file"
            class = "form-control"
            accept = "image/*"
            (change) = "showPreview($event)">
        </div>
    </div>
    </a>
    <div class="card-body jumbotron">
        <div *ngIf = "!isEditMode && !isBeingUpdated && parentCategoryName === 'CAKES & PASTRIES'">
            <h5 class="card-title center-text" style = "white-space: nowrap; overflow: hidden;">
                {{item.itemName | uppercase}}
            </h5>
            <!-- <h5 class="card-title center-text">
                Shop Price : {{item.shopPrice}}
            </h5>
            <h5 class="card-title center-text">
                Customer Price : {{item.customerPrice}}
            </h5> -->
            <br>
            <p>Offer : {{item.offer}} % </p>
            <p style="display: inline-block; white-space: nowrap; overflow: hidden;">Flavour: {{item.cakeFlavour}}</p>
            <p style = "display: inline-block; white-space: nowrap; overflow: hidden;">Design : {{item.designCategory}}</p>    
        </div>
        <div *ngIf = "!isEditMode && !isBeingUpdated && parentCategoryName !== 'CAKES & PASTRIES'">
            <h5 class="card-title center-text">
                {{item.itemName | uppercase}}
            </h5>
            <br>
            <p>Offer : {{item.offer}} % </p>
            <p style="display: inline-block;">Shop Price : Rs.{{item.shopPrice}}</p>
            <p style = "display: inline-block;">Customer Price : Rs. {{item.customerPrice}}</p>
            <p *ngIf = "forDistributor" style = "display: inline-block;">distributor Price : Rs. {{item.distributorPrice}}</p> 
            <p *ngIf = "forDistributor" style = "display: inline-block;">distributor Item Name : {{item.distributorItemName}}</p>       
        </div>
        <div *ngIf = "isEditMode && !isBeingUpdated && parentCategoryName === 'CAKES & PASTRIES'">
            <p>Item Name : <input type = "text" placeholder = "item name" [(ngModel)] = "editItemName"></p>
            <p>Offer % : <input type = "number" placeholder = "Offer" [(ngModel)] = "editItemOffer"></p>
            <p>Design : <select [(ngModel)]="editDesignCategory" name="designs" class="form-control form-control-sm">
                <option *ngFor = "let design of designsForEditDropdown" value = {{design}}>
                    {{design}}
                </option>
            </select></p>
            <p>Flavour : <select [(ngModel)]="editFlavour" name="flavours" class="form-control form-control-sm">
                <option *ngFor = "let flavour of flavoursForEditDropdown" value = {{flavour}}>
                    {{flavour}}
                </option>
            </select></p>
        </div>
        <div *ngIf = "isEditMode && !isBeingUpdated && parentCategoryName !== 'CAKES & PASTRIES'">
            <p>Item Name : <input type = "text" placeholder = "item name" [(ngModel)] = "editItemName"></p>
            <p>Offer % : <input type = "number" placeholder = "Offer" [(ngModel)] = "editItemOffer"></p>
            <p>Shop Price : <input type = "number" placeholder = "shop price" [(ngModel)] = "editItemShopPrice"></p>
            <p>Customer Price : <input type = "number" placeholder = "customer price" [(ngModel)] = "editItemCustomerPrice"></p>
            <p *ngIf = "forDistributor"><input type = "text" placeholder = "distributor item name" [(ngModel)] = "editDistributorItemName"></p> 
            <p *ngIf = "forDistributor"><input type = "number" placeholder = "distributor price" [(ngModel)] = "editDistributorPrice"></p> 
        </div>
        <div *ngIf = "isBeingUpdated && isEditMode">
            <p>Item is being updated....</p>
        </div>
        <button class = "btn btn-primary" (click) = "editItem()" *ngIf = "!isEditMode">Edit</button>
        <button class = "btn btn-primary" (click) = "updateItem()" *ngIf = "isEditMode && parentCategoryName !== 'CAKES & PASTRIES'">Save</button>
        <button class = "btn btn-primary" (click) = "updateCakeItem()" *ngIf = "isEditMode && parentCategoryName === 'CAKES & PASTRIES'">Save</button>
        <button class = "btn btn-danger spaced-button" (click) = "deleteItem()" *ngIf = "!isDeleting">Delete</button>
        <button class = "btn btn-danger" *ngIf = "isDeleting">
            <div class = "loader loader-button">

            </div>
        </button>
    </div>
</div>