<div class="row">
    <div class="col-md-8 offset-md-2">
        <blockquote class="blockquote">
            <p class="mb0 h3 display-4">Categories</p>
            <p *ngIf = "fetchError" class = "fetch-error">Bad Internet :( </p>

            <div class="row">
                <div class="col col-xs-8" *ngFor = "let category of categoryList">
                    <app-category-item [category] = category></app-category-item>
                </div>
            </div>

            <button class = "btn btn-lg btn-primary"routerLink = "/category/upload">Add a category.</button>
        </blockquote>
    </div>
</div>