<div class="loader" *ngIf = "isLoading"></div>

<div class="row">
    <div class="col col-xs-4">

    </div>
    <div class="col col-xs-4">
        <button class = "btn btn-lg btn-primary"routerLink = "/category/upload">Add a category.</button>
    </div>
    <div class="col col-xs-4">

    </div>
</div>

<div class="row">
    <div class="col">
        <div class="container">
            <h3>Categories</h3>
            <hr>
            <p *ngIf = "fetchError" class = "fetch-error">Bad Internet :(</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-xs-4" *ngFor = "let category of categoryList ; let i = index">
        <app-category-item [category] = category
        [categoryKeyInDb] = "categoryKeys[i]"></app-category-item>
    </div>
</div>
