<div class="loader" *ngIf = "isLoading">

</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs">
                <li role = "presentation" [ngClass] = "selectedSubcategory === 'Direct Variety' ? 'active' : ''"><a (click) = "loadItems('Direct Variety')" class = "pointer">Direct Variety</a></li>
                <li role = "presentation" *ngFor = "let subcategory of subcategories" [ngClass] = "selectedSubcategory === subcategory.subcategoryName ? 'active' : ''"><a (click) = "loadItems(subcategory.subcategoryName)" class = "pointer">{{subcategory.subcategoryName}}</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Items will change here!</p>
        </div>
    </div>
</div>