<div class="container">
    <h3>Custom Message</h3>
    <p>Add a custom message to show on mobile app , <span style = "background-color: yellow;">Message will only be shown if both headline and message are written and saved.</span></p>
    <hr>

     
        <div class="form-group">

                <label for = "headline">Headline : </label>
                <input type = "text"
                id="headline"
                class = "form-control"
                [(ngModel)] = "headline"
                >
        </div>

        <div class="form-group">

            <label for = "msg">Message : </label>
            <input type = "textarea"
            id="msg"
            class = "form-control"
            [(ngModel)] = "message">
         </div>


        <button class = "btn btn-success btn-bold-text" *ngIf = "!isUpdatingMessage" (click) = "onSubmit()">Save</button>
        <button *ngIf = "isUpdatingMessage" class = "btn btn-success">
            <div class="loader loader-button">

            </div>
        </button>
    
</div>